<% if User.current.allowed_to_globally?(:edit_customer) %>
<div class="contextual">
  <%= link_to l(:label_customer_list), {:controller => 'customers', :action => 'index'}, :class => 'icon icon-users' %>
  <%= link_to l(:label_customer_new), {:controller => 'customers', :action => 'new'}, :class => 'icon icon-add' %>
</div>
<% end %>
